@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background: #121212;
	}
}
@media (prefers-color-scheme: light) {
	body {
		color: #222;
		background: #fff;
	}
}

p {
	text-decoration: inherit;
	font-family:  inherit;
	color: inherit;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-bottom: 1.27cm;
	text-align: center;
	color: #7f7f7f;
}

.footer-text {
	font-family: "Avenir", "Segoe UI", Roboto;
	font-size: 10pt;
}

.invisible-link {
	text-decoration: none;
	color: inherit;
}
